.ArtistHedderIcon {
  display: block;
  width: 2rem;
  height: 2rem;
}
.imageUploadPreviewIcon {
  width: 100%;
  height: 100%;
  color: gray;
  margin: 2rem;
}
.Title {
  min-width: 100%;
}

.imageInput {
  position: relative;
  width: 12rem;
  height: 12rem;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.addSign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: solid 1px gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSign::after {
  content: "+";
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.upload-image small {
  position: absolute;
  font-size: 12px;
  bottom: 1rem;
  display: block;
  width: 100%;
  text-align: center;
}
.custom-dropzone {
  border: 2px dashed #0087f9;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.dropzone-container {
  border: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Set the height of your dropzone container */
}

.dropzone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
}
