.ArtistHedderIcon {
  display: block;
  width: 2rem;
  height: 2rem;
}
.imageUploadPreviewIcon {
  width: 100%;
  height: 100%;
  color: gray;
  margin: 2rem;
}
.Title {
  min-width: 100%;
}

.imageInput {
  position: relative;
  width: 12rem;
  height: 12rem;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.imageUploader {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.innerImageUploader {
  width: 90%;
  height: 90%;
  /* max-width: 800px;  */
  /* max-height: 80vh;  */
  background: white;
  /* border: dotted 1px gray; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropzone-container {
  /* border: 2px dashed gray; */
  height: 75%;
  width: 100%;
}
.dropzoneInput{
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.dropzoneInputInner{
  display: ruby;
  text-align: center;
}
.uploadIcon {
  font-size: 5rem; 
}
.ul-list li {
 padding: 0;
 margin: 0;
 font-style: italic;
 font-size: 12px;
}
.imageUploaderFooter{
  justify-content:space-between ;
}
.addSign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: solid 1px gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSign::after {
  content: "+";
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.upload-image small {
  position: absolute;
  font-size: 12px;
  bottom: 1rem;
  display: block;
  width: 100%;
  text-align: center;
}
.custom-dropzone {
  border: 2px dashed #0087f9;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}



.dropzone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
}
.dimensions{
  display: flex;
  justify-content: space-between;
}
.dimensions input{
  margin-right: 5px;

}

.keywords-container{
  display: flex;
}