 /* Dropzone component */

  .dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
  
  .dropzone:focus {
    border-color: #2196f3;
    
  }

  .uploadIcon {
    font-size: 5rem; 
  }

  .previewImg{
    top: 40px;
    /* transform: translateX(-50%); */
    z-index: 1000;
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: top;
    background: transparent;
  }
  .deleteIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border-radius:0% 0% 0% 50%;
    color: black;
    cursor: pointer;
    font-size: 14px;
    padding: 0px 5px;
    background-color: white;
    border: solid 1px black;
  }
  .ul-list li {
   padding: 0;
   margin: 0;
   font-style: italic;
   font-size: 12px;
  }
 
 